<template>
  <svg class="search-icon" fill="currentColor" viewBox="0 0 24 24">
    <path
      d="M21.5,20.1l-5.2-5.2c1.1-1.4,1.7-3.1,1.7-4.9c0-4.4-3.6-8-8-8s-8,3.6-8,8s3.6,8,8,8c1.8,0,3.5-0.6,4.9-1.7l5.2,5.2L21.5,20.1z M10,16c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6S13.3,16,10,16z"
    ></path>
  </svg>
</template>
