<template>
  <div class="alert-banner">
    <center>{{ $t("alert") }}</center>
  </div>
</template>

<style>
.alert-banner {
  font-weight: 500;
  color: #fff;
  background: #171616;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.33333vw;
  line-height: 0.83333vw;
}
</style>
