<template>
  <nav class="navbar is-white has-shadow">
    <div class="container">
      <div class="navbar-brand">
        <router-link to="/" class="navbar-item is-size-3 logo has-text-dark">
          <b>Stay</b>Store
        </router-link>
      </div>
      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <div class="navbar-item">
            <b-field>
              <b-select v-model="$i18n.locale" @input="onChange($event)">
                <option v-for="loc in locales" :key="loc" :value="loc">
                  {{ loc }}
                </option>
              </b-select>
            </b-field>
          </div>
          <div class="navbar-item">
            <themeToggle />
          </div>
          <div class="navbar-item">
            <nuxt-link :to="{ name: 'cart' }">
              <font-awesome-icon :icon="['fas', 'shopping-cart']" />
              <b-tag v-if="cartTotal > 0" type="is-dark">
                {{ cartTotal }}
              </b-tag>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import themeToggle from '@/components/theme-toggle'
export default {
  components: {
    themeToggle,
  },
  computed: {
    cartTotal() {
      return this.$store.state.cartTotal
    },
    locales() {
      return this.$store.state.locales
    },
  },
  methods: {
    onChange(e) {
      this.$store.commit('SET_LANG', e)
    },
  },
}
</script>

<style>
nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
</style>
