<template>
  <button class="button theme-toggle is-text is-block" @click="toggleDarkMode()">
    <ColorScheme placeholder="..." tag="span">
      <span v-if="$colorMode.value === 'dark'">
        <font-awesome-icon :icon="['fas', 'moon']" />
      </span>
      <span v-else>
        <font-awesome-icon :icon="['fas', 'sun']" />
      </span>
    </ColorScheme>
  </button>
</template>

<script>


export default {
  methods: {
    toggleDarkMode() {
      if (this.$colorMode.preference !== 'dark') {
        this.$colorMode.preference = 'dark'
      } else {
        this.$colorMode.preference = 'light'
      }
    }
  }
}
</script>


<style scoped>
.theme-toggle:hover, .theme-toggle:active ,.theme-toggle:focus  {
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
</style>
