<template>
  <main>
    <section class="section">
      <div class="container">
        <nuxt-link to="/" class="back-to-shopping has-text-weight-bold"> &#8592; Back to shopping</nuxt-link>
        <div class="box">
          <h1 class="title has-text-centered">
            Your Cart
          </h1>
          <hr>
          <div v-for="product in cart" :key="product.id" class="box" >
            <article class="media cart-item">
              <div class="media-left">
                <figure class="image cart-image is-128x128">
                  <img :src="product.product.images[0]" alt="">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <h2 class="is-size-4 has-text-weight-bold">{{ product.product.name }}</h2>
                  <p class="is-size-5">
                    <i18n-n :value="product.unit_amount" format="currency"></i18n-n> x {{ product.count }}
                  </p>
                  <button class="button is-outlined is-danger is-small is-rounded" @click="removeItem(product)">Remove Item</button>
                </div>
              </div>
              <div class="media-right">
                <div class="content">
                  <h2 class="is-size-4 has-text-weight-bold"> <i18n-n :value="product.unit_amount * product.count" format="currency"></i18n-n></h2>
                </div>
              </div>
            </article>
          </div>
          <hr v-if="cartTotal">
          <h1 v-if="cartTotal" class="title has-text-centered"> Total : <i18n-n :value="totalCost" format="currency"></i18n-n></h1>
          <button v-if="cartTotal" :class="{'is-loading': submitted}" class="button is-medium is-fullwidth is-outlined is-rounded is-link checkout-button" @click="checkout">Proceed to Checkout</button>
          <div v-if="!cartTotal" class="box has-text-centered">
            <article class="emptyCart">
              <h1 class="title">Cart is empty</h1>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  data () {
    return {
      success: false,
      submitted: false
    }
  },
  computed: {
    cart () {
      return this.$store.getters.cart
    },
    cartTotal () {
      return this.$store.state.cartTotal
    },
    totalCost () {
      return Object.values(this.cart)
        .reduce((sum, el) => sum + (el.count * el.unit_amount), 0)
        .toFixed(2)
    }
  },
  methods: {
    removeItem(item) {
      this.$store.commit('REMOVE_ITEM', item)
      this.$toast.error('Removed item from cart')
    },
    checkout () {
      this.$store.dispatch("createPaymentIntent")
      this.$router.push({
          path: '/checkout'
      })
    }
  }
}
</script>

<style scoped>
.box, .back-to-shopping {
  box-shadow: none;
  max-width: 720px;
  margin: 0 auto;
}
.back-to-shopping {
  display: block;
  margin-bottom: 10px;
}
.cart-image img{
  height: 100px;
  width: auto;
  margin: 0 auto;
}
.cart-image {
  background: #eee;
  display: flex;
  align-items: center;
}
.cart-item {
  max-width: 500px;
  margin: 0 auto;
}
.checkout-button {
  margin: 0 auto;
  display: block;
}
button {
  margin: 0 auto;
}
@media screen and (max-width: 500px) {
  .media-left {
    display: none;
  }
}
</style>
