<template>
  <div class="checkout">
    <div class="checkout-container-60 register">
      <form id="payment-form" :class="{ hidden: loading || paymentComplete}" @submit="pay">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h4 class="subtitle">
                Enter your payment details to complete your purchase
              </h4>
            </div>

            <!-- INPUTS -->
            <section>
              <b-field>
                <b-input v-model="name" placeholder="Jane Doe"></b-input>
              </b-field>

              <b-field>
                <b-input
                  v-model="email"
                  type="email"
                  placeholder="you@email.com"
                >
                </b-input>
              </b-field>

              <div id="card-element" ref="card">
                <!-- Stripe Elements will be mounted here -->
              </div>

              <div id="card-errors" role="alert">
                <!-- Any Stripe Elements error messages will be mounted here -->
              </div>
            </section>
          </div>

          <!-- FORM SUBMISSION -->
          <button class="card-btn is-success" type="submit">
            <font-awesome-icon :icon="['fas', 'lock']" />
            Pay Now
          </button>
        </div>
      </form>

      <!-- LOADING STATE -->
      <div v-if="loading && !paymentComplete" id="loading" class="card card-centered">
        <div class="card-body">
          <div>
            <div class="loader"></div>
          </div>

          <h3 class="header-blue">
            Processing <br />
            your payment...
          </h3>
          <p class="helper-text">Please wait a few minutes!</p>
        </div>
      </div>

      <!-- SUCCESS STATE -->
      <div v-if="paymentComplete" id="success" class="card card-centered">
        <div class="card-body">
           <font-awesome-icon class="success-icon" :icon="['fas', 'check-circle']" />
          <h3 class="header-blue">
            Congrats, your payment was processed <br />
            successfully!
          </h3>
          <p class="helper-text">
            We will send the confirmation to your email.
          </p>
        </div>

        <a href="/" class="card-btn">  <font-awesome-icon :icon="['fas', 'chevron-circle-left']" /> Back Home </a>
      </div>

      <!-- ERROR STATE -->
      <div v-if="error" id="error" class="card card-centered hide">
        <div class="card-body">
          <font-awesome-icon class="error-icon" :icon="['fas', 'exclamation-circle']" />
          <h3 class="header-red">
            Sorry, it looks like <br />
            something went wrong
          </h3>
          <p class="helper-text">Please contact us or try again.</p>
        </div>

        <a href="/" class="card-btn"> Contact Us </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      error: null,
      paymentComplete: false,
      name: '',
      email: '',
      spk: process.env.stripeApiKey,
      stripe: undefined,
      card: undefined
    }
  },
  mounted() {
    const self = this
    // eslint-disable-next-line
    self.stripe = Stripe(self.spk)
    self.card = self.stripe.elements().create('card')
    self.card.mount(self.$refs.card)
  },
  methods: {
    pay(e) {
      e.preventDefault();

      const self = this

      self.loading = true

      setTimeout(()=> {}, 3000 )


      // we will use Use stripe.confirmCardPayment when the customer submits the payment form.
      // This is the legacy handleCardPayment that has been renamed and slightly modified to convey better what it does.
      // When called, it will confirm the PaymentIntent and carry out 3DS or other next actions if they are required.
      self.stripe
        .confirmCardPayment(self.$store.getters.clientSecret, {
          payment_method: {
            card: self.card,
            billing_details: {
              name: self.name,
            },
          },
          receipt_email: self.email,
        })
        .then(result => {
          if (result.error) {
            self.showError(result.error)
            self.loading = false
          } else {
            self.paymentComplete = true
            self.clearCart()
            self.loading = false
          }
        })
    },
    showError(error){
      this.$toast.error(error.message)
    },
    clearCart() {
      this.complete = false
      this.$store.commit('CLEAR_CART')
    },
  },
}
</script>

<style scoped>
.checkout {
  width: 100%;
  height: 100%;
  padding: 36px 12px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.checkout-container-75 {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.checkout-container-60 {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 550px;
  min-width: 280px;
  display: flex;
  align-items: flex-start;
}
.card {
  background: white;
  border-radius: 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
  flex: 1;
  min-width: 280px;
  margin-bottom: 24px;
  overflow: hidden;
}
.card-body {
  padding: 24px;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.card-btn,
button.card-btn {
  box-shadow: none;
  border: 0px;
  color: white;
  background-color: #42b983;
  width: 100%;
  border-radius: 0px;
  padding: 12px 0px;
  font-size: 18px !important;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.card-centered {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-centered .card-body {
  padding: 48px 24px;
}

.card .success-icon {
  color: #6ddb17;
  font-size: 60px;
}

.card .error-icon {
  color: #ff5252;
  font-size: 60px;
}
.header-uppercase {
  margin: 0px;
  text-transform: uppercase;
}
.header-white {
  color: white;
}
.header-blue {
  color: #004abb;
  font-weight: 600;
}
.header-red {
  color: #ff5252;
  font-weight: 600;
}
.header-margin-bottom {
  margin-bottom: 24px;
}
.helper-text {
  color: #757575;
  line-height: 1.25;
  font-size: 16px;
}
.helper-text-small {
  color: #777777;
  line-height: 1.4;
  font-size: 14px;
}
.price {
  margin: 0px;
}
.price span {
  font-size: 18px;
  color: #757575;
}
input,
.StripeElement {
  border: none;
  padding: 12px;
  border-radius: 2px;
  background-color: #e8f5ff;
  color: #004abb;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 250ms ease;
  transition: border 250ms ease;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 600;
  width: 100%;
}
input::placeholder {
  color: #6099ee;
  text-transform: uppercase;
  font-weight: 600;
}
input:focus,
button:focus {
  outline: none;
}
input:focus,
.StripeElement--focus {
  border-color: #6099ee;
}
.StripeElement--invalid {
  border-color: #ff5252;
}
#card-errors {
  color: #ff5252;
}
.hidden {
  display: none;
}
.loader {
  display: inline-block;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #004abb;
  width: 48px;
  height: 48px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
