<template>
    <section class="section category-list">
      <div class="container">
        <div class="columns">
          <div class="column is-one-fifth">
            <div class="box">
              <h2 class="subtitle has-text-weight-bold has-text-black">
                {{ $t("filter") }}
              </h2>
              <div v-for="type in types" :key="type" class="field">
                <b-checkbox
                  v-model="selectedTypes"
                  :native-value="type"
                  class="is-warning"
                >
                  {{ type }}</b-checkbox
                >
              </div>
              <h2 class="subtitle has-text-weight-bold has-text-black">
                {{ $t("sort") }}
              </h2>
              <b-menu>
                <b-menu-list>
                  <b-menu-item
                    :active="sortCriteria === 'lowest'"
                    :label="$t('lowest')"
                    @click="changeSortCriteria('lowest')"
                  ></b-menu-item>
                  <b-menu-item
                    :active="sortCriteria === 'newest'"
                    :label="$t('latest')"
                    @click="changeSortCriteria('latest')"
                  ></b-menu-item>
                </b-menu-list>
              </b-menu>
            </div>
          </div>
          <div class="column">
            <div class="columns is-multiline is-variable is-2">
              <div
                v-for="product in products"
                :key="product.id"
                class="column is-one-third"
              >
                <product-card :product="product" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
import productCard from '@/components/product-card'
export default {
  components: {
    productCard,
  },
  async fetch({ store, params }) {
    await store.dispatch('getProducts')
  },
  data() {
    return {
      types: ['popular', 'new', 'trending'],
      selectedTypes: [],
      sortCriteria: 'lowest'
    }
  },
  computed: {
    products() {
      const activeProducts = this.$store.state.products.filter((item) => item.product.active)
      // return sorted array, updates whenever sortCriteria changes
        return activeProducts.sort((a, b) => {
          if (this.sortCriteria === 'lowest') {
            return a.unit_amount > b.unit_amount ? 1 : -1
          } else {
            return a.product.created < b.product.created ? 1 : -1
          }
        })
    },
  },
  methods: {
    changeSortCriteria(criteria) {
      this.sortCriteria = criteria
    }
  }
}
</script>

<style scoped>
.box {
  background: #f4f2f3;
  box-shadow: none;
}
.subtitle {
  margin-bottom: 1rem;
}
.subtitle:last-of-type {
  margin-top: 1.5rem;
}
.is-active {
  background-color: transparent;
  color: #3273dc;
}
</style>
